body {
	padding-bottom: 4em;
}

.container-main {
	max-width: 960px;
}

@media screen and (max-width: 768px) {
	.container-main {
		max-width: 700px;
	}
}

@media screen and (max-width: 640px) {
	.container-main {
		max-width: 600px;
	}
}