body {
	padding-bottom: 6em;
}

footer .navbar {
	border-top-color: #4aaaa5;
	border-top-style: solid;
	border-top-width: thick;
	background-color:  #666666;
	padding-bottom: 1em;
	padding-top: 1em;
}

.container-main {
	max-width: 960px;
}

.img-responsive {
	display: inline-block;
}

@media screen and (max-width: 980px) {
	.container-main {
		max-width: 85%;
	}
}